:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }
  :root { 
    --background-color: white;
    --default-color: #444444; 
    --heading-color: #151515;
    --accent-color: #ffc451;
    --contrast-color: #312f2f;
    --light-background-color: #ffffff;
    --dark-background-color: #000000;
    --light-default-color: #444444;
    --dark-default-color: #ffffff;
    --light-heading-color: #151515;
    --dark-heading-color: #ffffff;
    --light-nav-color: rgba(255, 255, 255, 0.905);
    --dark-nav-color: rgba(0, 0, 0, 0.905);
  }
  :root {
    --nav-color: rgba(255, 255, 255, 0.905);  
    --nav-hover-color: #ffc451;
    --nav-dropdown-background-color: #ffffff; 
    --nav-dropdown-color: #212529; 
    --nav-dropdown-hover-color: #ffc451;
  }
  :root {
    --footer-background-color: #000000;
  }
  :root {
    scroll-behavior: smooth;
  }
  
label{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input{
    position:absolute;
    opacity: 0;
  }
  .sun{
    position: absolute;
    font-size: 2em;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transform: scale(0);
    transition: 1s ease;
  }
  input:checked~.sun {
    transition-delay: 0.8s;
    transform: scale(1) rotate(360deg) ;
  }
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
    text-decoration: none;
  }
  
/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url(../img/space-stars-universe-nebula-2298386-wallhere.com.jpg);
}

.header {
    --background-color: rgba(0, 0, 0, 0.8);
    --heading-color: #ffffff;
    --contrast-color: #ffffff;
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 10px 0;
    transition: all 0.5s;
    z-index: 997;
  }
  .header .logo {
    line-height: 1;
  }
  .header .logo img {
    max-height: 36px;
    margin-right: 8px;
  }
  .header .logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
  }
  .header .logo span {
    color: var(--accent-color);
    font-size: 32px;
  }

  .header .btn-getstarted,
  .header .btn-getstarted:focus {
    color: var(--contrast-color);
    font-size: 14px;
    padding: 8px 30px;
    margin: 0 0 0 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    list-style-type: none;
    border: 2px solid var(--accent-color);
  }
  .header .btn-getstarted:hover,
  .header .btn-getstarted:focus:hover {
    color: var(--default-color);
    background:  #fdd028;
  }
  .btn-inicio, .btn-inicio:focus {
    color: white;
    font-size: 35px;
    padding: 8px 30px;
    margin: 0 0 0 30px;
    border-radius: 4px;
    list-style-type: none;
    transition: 0.3s;
    border: 1px solid var(--accent-color);
  }
  .btn-inicio:hover,.btn-inicio:focus:hover {
    color: var(--default-color);
    background: var(--accent-color);
  }
  @media (min-width: 1800px) and (max-width: 1900px) {
    main{
      width: 400px;
      margin-left: 150px;
    }
  }
  
  @media (max-width: 1200px) {
    .header .logo {
      order: 1;
    }
  .header .btn-getstarted {
      order: 2;
      margin: 0 15px 0 0;
      padding: 6px 15px;
  }
  .header .navmenu {
      order: 3;
    }
  }
  
  .scrolled .header {
    box-shadow: 0px 0 18px color-mix(in srgb, var(--default-color), transparent 85%);
  }
  
  
  .index-page .header {
    --background-color: rgba(0, 0, 0, 0);
  }
  
  .index-page.scrolled .header {
    --background-color: rgba(0, 0, 0, 0.8);
  }
  @media (min-width: 1200px) {
    .navmenu {
      padding: 0;
      margin-left: 500px;
    }
  
    .navmenu ul {
      margin: 0;
      text-decoration: none;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
    }
  
    .navmenu li {
      position: relative;
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-color);
      padding: 18px 15px;
      font-size: 16px;
      font-family: var(--nav-font);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      text-decoration: none;
      list-style-type: none;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      text-decoration: none;
      line-height: 0;
      margin-left: 5px;
      transition: 0.3s;
    }
  
    .navmenu li:last-child a {
      padding-right: 0;
    }
  
    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
      color:  #fdd028;
    }
  
    .navmenu .dropdown ul {
      margin: 0;
      padding: 10px 0;
      background: var(--nav-dropdown-background-color);
      display: block;
      position: absolute;
      visibility: hidden;
      text-decoration: none;
      left: 14px;
      top: 130%;
      opacity: 0;
      transition: 0.3s;
      border-radius: 0;
      z-index: 99;
      box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 85%);
    }
  
    .navmenu .dropdown ul li {
      min-width: 200px;
    }
  
    .navmenu .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      color: var(--nav-dropdown-color);
    }
  
    .navmenu .dropdown ul a i {
      font-size: 12px;
    }
  
    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
      background-color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navmenu .dropdown .dropdown ul {
      top: 0;
      left: -90%;
      visibility: hidden;
    }
  
    .navmenu .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: -100%;
      visibility: visible;
    }
    
  }
  
  @media (max-width: 1199px) {
    .mobile-nav-toggle {
      color: var(--nav-color);
      font-size: 28px;
      line-height: 0;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s;
    }
  
    .navmenu {
      padding: 0;
      z-index: 9997;
      
      margin-left: 100px;
    }
  
    .navmenu ul {
      display: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      text-decoration: none;
      border-radius: 6px;
      background-color: var(--nav-dropdown-background-color);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
      box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%);}
      
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s;
      background-color: color-mix(in srgb, var(--accent-color), white 90%);
    }
  
    .navmenu a i:hover,
    .navmenu a:focus i:hover {
      background-color: color-mix(in srgb, var(--accent-color), white 90%);
    }
  
    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
      background-color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .active i,
    .navmenu .active:focus i {
      transform: rotate(180deg);
    }
  
    .navmenu .dropdown ul {
      position: static;
      display: none;
      z-index: 99;
      padding: 10px 0;
      margin: 10px 20px;
      background-color: var(--nav-dropdown-background-color);
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      box-shadow: none;
      transition: all 0.5s ease-in-out;
    }
  
    .navmenu .dropdown ul ul {
      background-color: rgba(33, 37, 41, 0.1);
    }
  
    .navmenu .dropdown>.dropdown-active {
      display: block;
      background-color: rgba(33, 37, 41, 0.03);
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .mobile-nav-toggle {
      color: #fff;
      position: absolute;
      font-size: 32px;
      top: 15px;
      right: 15px;
      margin-right: 0;
      z-index: 9999;
    }
  
    .mobile-nav-active .navmenu {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;
    }
  
    .mobile-nav-active .navmenu>ul {
      display: block;
    }
    
  }
/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo para o banner */
.banner {
  position: absolute;
  top: 80px; 
  left: 50%;
  transform: translateX(-50%);
  color:white;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  z-index: 1; 
}

.banner h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}


/* Main Content */
main {
    padding: 2rem 0;
    width: 1200px;
    height: auto;
    max-width: 1200px;
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 100px;
    box-shadow: #000000  2px;
    border-radius: 10px;
}
/* Estilos para a seção "Team" */
#team {
  background: #f9f9f9;
  box-shadow: #000000  2px;
  padding: 60px 0;
  border-radius: 10px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  color: #333;
}
.team .team-member {
  margin-bottom: 20px;
}

.team .member-img img {
  max-width: 100%;
  height: auto;
}


.section-title p {
  font-size: 18px;
  color: #666;
}

.team-member {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.team-member:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  background-color: #fdd028;
}

.member-img {
  position: relative;
  overflow: hidden;
}

.member-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.member-img:hover img {
  transform: scale(1.1);
}

.team-member:hover .social {
  opacity: 1;
}

.member-info {
  padding: 20px;
  text-align: center;
}

.member-info h4 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.member-info span {
  font-size: 16px;
  color: #777;
}
@media (min-width: 1200px) and (max-width: 1300px) {
  main{
    width: 1000px;
    margin-left: 130px;
  }
  #map{
     width: 1000px;
     height: 250px;
     margin-top: 20px;
     margin-left: 30px;
   }
}
@media (min-width: 1100px) and (max-width: 1200px) {
  main{
    width: 800px;
    margin-left: 150px;
  }
  #map{
     width: 700px;
     height: 250px;
     margin-top: 20px;
   }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  main{
    width: 800px;
    margin-left: 150px;
  }
  #map{
     width: 700px;
     height: 250px;
     margin-top: 20px;
   }
}
@media (min-width: 900px) and (max-width: 1000px) {
  main{
    width: 700px;
    margin-left: 150px;
  }
  #map{
     width: 700px;
     height: 250px;
     margin-top: 20px;
   }
}
@media (min-width: 800px) and (max-width: 900px) {
  main{
    width: 600px;
    margin-left: 150px;
  }
  #map{
     width: 700px;
     height: 250px;
     margin-top: 20px;
   }
}
/* Ajuste para diferentes tamanhos de tela */
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 28px;
  }

  .section-title p {
    font-size: 16px;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  main{
    width: 550px;
    margin-left: 120px;
  }
  #map{
     width: 700px;
     height: 250px;
     margin-top: 20px;
   }
}
@media (min-width: 600px) and (max-width: 700px) {
  main{
    width: 400px;
    margin-left: 120px;
  }
  #map{
     width: 500px;
     height: 250px;
     margin-top: 20px;
   }
}
@media (min-width: 500px) and (max-width: 600px) {
  main{
    width: 380px;
    margin-left: 80px;
  }
  #map{
     width: 500px;
     height: 250px;
     margin-top: 20px;
   }
}
@media (min-width: 400px) and (max-width: 500px) {
  main{
    width: 360px;
    margin-left: 40px;
  }
  #map{
     width: 400px;
     height: 250px;
     margin-top: 20px;
   }
}
/*Responsividade para celular*/
@media (min-width: 350px) and (max-width: 400px) {
  main{
    width: 330px;
    margin-left: 18px;
  }
  #map{
     width: 400px;
     height: 250px;
     margin-top: 20px;
   }
}

  /*Responsividade para celular*/
  @media (min-width: 300px) and (max-width: 350px) {
    main{
      width: 300px;
      margin-left: 15px;
    }
    #map{
       width: 300px;
       height: 250px;
       margin-top: 20px;
     }
}

.footer {
    --background-color: var(--footer-background-color);
    --default-color: #ffffff;
    --heading-color: #ffffff;
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    position: relative;
  }
  
  .footer .footer-top {
    padding: 50px 0;
    background-color: color-mix(in srgb, var(--footer-background-color) 90%, white 10%);
  }
  
  .footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 10px;
  }
  
  .footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-about .logo span {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--heading-font);
    color: var(--heading-color);
    text-decoration: none;
  }
  
  .footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
  }
  
  .footer .social-links a {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    background-color: color-mix(in srgb, var(--default-color) 5%, white 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: var(--contrast-color);
    background-color: var(--accent-color);
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    margin-right: 4px;
    font-size: 12px;
    line-height: 0;
    color: var(--accent-color);
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fdd028;
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
  .footer .copyright {
    padding: 30px 0;
    color: black;
    background-color: #fdd028;
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  .sitename{
    text-decoration: none;
    width: 300px;
  }
  .sitenameh:hover{
    color: #fdd028;
    cursor:context-menu;
  }
  #adez-rodape{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: 'Poppin';
  font-size: 18px;
}

  /*https://wallhere.com/en/wallpaper/2298386*/