:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }
  :root { 
    --background-color: white;
    --default-color: #444444; 
    --heading-color: #151515;
    --accent-color: #ffc451;
    --contrast-color: #312f2f;
    --light-background-color: #ffffff;
    --dark-background-color: #000000;
    --light-default-color: #444444;
    --dark-default-color: #ffffff;
    --light-heading-color: #151515;
    --dark-heading-color: #ffffff;
    --light-nav-color: rgba(255, 255, 255, 0.905);
    --dark-nav-color: rgba(0, 0, 0, 0.905);
  }
  :root {
    --nav-color: rgba(255, 255, 255, 0.905);  
    --nav-hover-color: #ffc451;
    --nav-dropdown-background-color: #ffffff; 
    --nav-dropdown-color: #212529; 
    --nav-dropdown-hover-color: #ffc451;
  }
  :root {
    --footer-background-color: #000000;
  }
  :root {
    scroll-behavior: smooth;
  }

  /* Reset básico de margens e preenchimento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2{
  font-family: "Exo 2";
  font-weight: 700;
  color: var(--heading-color);
}

.header {
    --background-color: rgba(0, 0, 0, 0.8);
    --heading-color: #ffffff;
    --contrast-color: #ffffff;
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 10px 0;
    transition: all 0.5s;
    z-index: 997;
  }
  .header .logo {
    line-height: 1;
  }
  .header .logo img {
    max-height: 36px;
    margin-right: 8px;
  }
  .header .logo h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
  }
  .header .logo span {
    color: var(--accent-color);
    font-size: 32px;
    text-decoration: none;
  }
  
.header li .btn-getstarted,
.header li .btn-getstarted:focus {
  color: white;
  font-size: 14px;
  padding: 8px 25px;
  background-color: transparent;
  margin: 0 0 0 5px;
  border-radius: 4px;
  transition: 0.3s;
  border: 2px solid #fdd028;
}
.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: white;
  background: #fdd028;
}
  .btn-inicio, .btn-inicio:focus {
    color: white;
    font-size: 35px;
    padding: 8px 30px;
    margin: 0 0 0 30px;
    border-radius: 4px;
    transition: 0.3s;
    border: 1px solid var(--accent-color);
  }
  .btn-inicio:hover,.btn-inicio:focus:hover {
    color: #fdd028;
    background: var(--accent-color);
  }
  @media (max-width: 1200px) {
    .header .logo {
      order: 1;
    }
  .header .btn-getstarted {
      order: 2;
      margin: 0 15px 0 0;
      padding: 6px 15px;
  }
  .header .navmenu {
      order: 3;
    }
  }
  
  .scrolled .header {
    box-shadow: 0px 0 18px color-mix(in srgb, var(--default-color), transparent 85%);
  }
  .link-noticia{
    text-decoration: none;
    color: black;
  }
  .link-noticia:hover{
    text-decoration: none;
    color:#fdd028;
  }
  .index-page .header {
    --background-color: rgba(0, 0, 0, 0);
  }
  
  .index-page.scrolled .header {
    --background-color: rgba(0, 0, 0, 0.8);
  }
  .navmenu .btn-getstarted{
    position: absolute;
    padding: 10px 0;
    text-decoration: none;
    margin: 0;
    background-color: #ffffff;
    overflow-y: auto;
    transition: 0.3s;
    color: #fdd028;
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    border: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%);}
   
  @media (min-width: 1200px) {
    .navmenu {
      padding: 0;
      margin-left: 500px;
      text-decoration: none;
    }
  
    .navmenu ul {
      margin: 0;
      padding: 0;
      display: flex;
      text-decoration: none;
      list-style-type: none;
      align-items: center;
    }
      
    .navmenu li {
      position: relative;
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-color);
      padding: 18px 15px;
      font-size: 16px;
      font-family: var(--nav-font);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      text-decoration: none;
      list-style-type: none;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      transition: 0.3s;
    }
  
    .navmenu li:last-child a {
      padding-right: 0;
    }
  
    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
      color:  #fdd028;
    }
  
    .navmenu .dropdown ul {
      margin: 0;
      padding: 10px 0;
      background: var(--nav-dropdown-background-color);
      display: block;
      position: absolute;
      visibility: hidden;
      left: 14px;
      top: 130%;
      opacity: 0;
      transition: 0.3s;
      border-radius: 0;
      z-index: 99;
      box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 85%);
    }
  
    .navmenu .dropdown ul li {
      min-width: 200px;
    }
  
    .navmenu .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      color: var(--nav-dropdown-color);
    }
  
    .navmenu .dropdown ul a i {
      font-size: 12px;
    }
  
    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
      background-color: var(--nav-dropdown-hover-color);
      
    }
  
    .navmenu .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navmenu .dropdown .dropdown ul {
      top: 0;
      left: -90%;
      visibility: hidden;
    }
  
    .navmenu .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: -100%;
      visibility: visible;
    }
    
  }
  
  @media (max-width: 1199px) {
    .mobile-nav-toggle {
      color: var(--nav-color);
      font-size: 28px;
      line-height: 0;
      margin-right: 10px;
      text-decoration: none;
      cursor: pointer;
      transition: color 0.3s;
    }
  
    .navmenu {
      padding: 0;
      z-index: 9997;
      text-decoration: none;
      margin-left: 100px;
    }
    
  
    .navmenu ul {
      display: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      text-decoration: none;
      border-radius: 6px;
      background-color: var(--nav-dropdown-background-color);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
      box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%);}
      
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      text-decoration: none;
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s;
      background-color: color-mix(in srgb, var(--accent-color), white 90%);
    }
  
    .navmenu a i:hover,
    .navmenu a:focus i:hover {
      background-color: color-mix(in srgb, var(--accent-color), white 90%);
    }
    span{
      text-decoration: none;
    }
  
    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
      background-color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .active i,
    .navmenu .active:focus i {
      transform: rotate(180deg);
    }
  
    .navmenu .dropdown ul {
      position: static;
      display: none;
      z-index: 99;
      text-decoration: none;
      padding: 10px 0;
      margin: 10px 20px;
      background-color: var(--nav-dropdown-background-color);
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      box-shadow: none;
      transition: all 0.5s ease-in-out;
    }
  
    .navmenu .dropdown ul ul {
      background-color: rgba(33, 37, 41, 0.1);
    }
  
    .navmenu .dropdown>.dropdown-active {
      display: block;
      background-color: rgba(33, 37, 41, 0.03);
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .mobile-nav-toggle {
      color: #fff;
      position: absolute;
      font-size: 32px;
      top: 15px;
      right: 15px;
      margin-right: 0;
      z-index: 9999;
    }
  
    .mobile-nav-active .navmenu {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;
    }
  
    .mobile-nav-active .navmenu>ul {
      display: block;
    }
    .navmenu .btn-getstarted{
      position: absolute;
      padding: 10px 0;
      margin: 0;
      background-color: #ffffff;
      overflow-y: auto;
      transition: 0.3s;
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      border: none;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
      z-index: 9998;
      box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%);}
     }
  
@media (min-width:1100px) and (max-width: 1200px) {
  .header .logo {
    order: 1;
}

.header .btn-getstarted {
    order: 2;
    margin: 0 15px 0 0;
    padding: 6px 15px;
}
}
  
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

main .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    margin-top: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid #ccc;
}
article p{
  font-size: 20px;
  font-family: "poppins";
  font-weight: 500;
}
li{
  font-size: 20px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

article header {
    margin-bottom: 15px;
}

article h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

article .meta {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

article img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.palestra{
  height: 450px;
}

.editor-choice-banner {
  width: 100%;
  background-color: #fdd028; 
  color: #333; 
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-align: left;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 0.9rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

  
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.dropdown:hover {
color: blue;
}
#usermenu:hover{
color: blue;
}

.dropdown-toggle {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-toggle ion-icon {
  font-size: 30px;
  margin-right: 8px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 10px 0;
  border-radius: 4px;
  right: 0; 
  min-width: 160px;
}

.dropdown-menu li {
  padding: 8px 16px;
  text-align: left;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  padding: 20px;
}
.card-container p{
    font-family: "poppins";
    font-weight: 500;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.card:hover{
  transform: translateY(-10px);
  border: solid #fdd028;
  color: #fdd028;
}

.card-img {
  width: 100%;
  height: 0:
  padding-top: 100%; /* Mantém o card quadrado */
  object-fit: cover;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  font-size: 1.5em;
  font-family: "Exo 2";
  font-weight: 700;
  margin: 0;
  color: #333;
}

.card-summary {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
}
.imagemnoticia{
  width: 100%;
}

/*Inicio da estilização do comentário*/
.comments-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comments-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.comment-form input,
.comment-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.comment-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}

.comments-list {
  margin-top: 30px;
}

.comments-list h3 {
  font-size: 20px;
  color: #333;
}

.comment {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.comment h4 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.comment p {
  font-size: 16px;
  color: #666;
}
/*Fim da estilização do comentário*/

/*Rodapé*/
.footer {
    --background-color: var(--footer-background-color);
    --default-color: #ffffff;
    --heading-color: #ffffff;
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    position: relative;
  }
  
  .footer .footer-top {
    padding: 50px 0;
    background-color: color-mix(in srgb, var(--footer-background-color) 90%, white 10%);
  }
  
  .footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 10px;
  }
  
  .footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-about .logo span {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--heading-font);
    color: var(--heading-color);
    text-decoration: none;
  }
  
  .footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
  }
  
  .footer .social-links a {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    background-color: color-mix(in srgb, var(--default-color) 5%, white 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: var(--contrast-color);
    background-color: var(--accent-color);
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    margin-right: 4px;
    font-size: 12px;
    line-height: 0;
    color: var(--accent-color);
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: var(--accent-color);
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
  
  .footer .copyright {
    padding: 20px 0;
    color: black;
    background-color: #fdd028;
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .copyright-noticia {
    padding: 5px 0;
    color: black;
    background-color: #fdd028;
  }
  
  .footer .copyright-noticia p {
    margin-bottom: 0;
  }
  
  .sitename{
    text-decoration: none;
    width: 300px;
  }
  .sitename:hover{
    cursor:context-menu;
  }
  #adez-rodape{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: 'Poppin';
  font-size: 18px;
}